html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

/*      Buttons     */
.button {
  color: rgb(0 0 0 / 80.8%);
  width: fit-content;
  font-size: 3em;
  position: fixed;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  z-index: 1;
}

.button.next {
  bottom: 10px;
  right: 16px;
}

.button.previous {
  top: 10px;
  right: 16px;
  visibility: hidden;
}

.button:hover {
  font-size: 3.5em;
}

/*    Sections    */
.section {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*    Scrollbar   */
.section::-webkit-scrollbar {
  width: 14px;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

.title {
  background: rgb(253 125 125);
}

.preview {
  background: rgb(160 160 255);
}

.cocktails {
  background: rgb(255 253 160);
}
