:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: 14px;
  scrollbar-color: #444 #ffffff6f;
  scroll-behavior: smooth;
}

/*    Scrollbar   */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ffffff6f;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

/*    Modal   */
.modal {
  position: fixed;
  top: 0;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 18%);
  backdrop-filter: blur(8px);
  z-index: 3;
}

.line-hr {
  background: rgb(255 255 255);
  width: 80%;
  height: 2px;
}

.modal h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

.modal h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}

.modal .container {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overage,
.underage {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/*    Section   */
main {
  background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
}

.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.navbar {
  width: 100%;
  background: #ffffff6b;
  position: fixed;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #45b39d;
  text-decoration: none;
  font: bold;
}

nav ul li:hover {
  background: #e2c01774;
  transform: scale(1.1);
  transition: 1s;
}

/*    Title Section   */
.title {
  background-image: url("title.webp");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.title-content {
  background: rgb(255 255 255 / 10%);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: 1em;
  width: 100%;
  height: 100%;
}

.title-container {
  height: 15em;
  width: 30em;
}

.title-container img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(3px 0 43px #fff);
}

.welcome-container {
  border: 1px solid red;
  height: 200px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes-container {
  height: 100px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: oblique;
  font-size: 1.5em;
}

.btn {
  padding: 20px 40px;
  text-decoration: none;
  background-color: #ffc300;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: #45b39d;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: var(--y-pos);
  left: var(--x-pos);
  transform: translate(-50%, -50%);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.btn:hover::before {
  width: 400px;
  height: 400px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

/*    Preview Section   */
.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  color: black;
  border: 1px solid black;
  padding: 25px;
  margin-top: 10px;
}

.tags {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: black;
}

.tag {
  height: 420px;
  width: 250px;
  border: 1px solid black;
  border-radius: 15px;
  background: #ffffff6b;
  text-align: center;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  margin-bottom: 14px;
}

.tag h2 {
  margin-top: 15px;
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.tag p {
  font-size: 18px;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 18px;
}

.tag img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  filter: grayscale(1);
  transition: 0.4s;
}

.tag:hover img {
  filter: grayscale(0);
}

/*    Cocktail Section    */
.cocktails {
  height: 90vh;
}

/*    Swiper    */
.carrousel {
  width: 100%;
}

.swiper-slide-content {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.swiper-slide-content ul {
  list-style: none;
}

.swiper-scrollbar {
  margin-top: 3em;
}

.cocktail-img {
  width: 400px;
  height: 500px;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
  box-shadow: 2px 4px 8px #585858;
  margin-bottom: 1em;
}

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 1em;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  font-size: 36px;
  color: black;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
